{
  "plugins": [
    "prettier-plugin-tailwindcss",
    "prettier-plugin-classnames",
    "prettier-plugin-merge"
  ],
  "tabWidth": 2,
  "bracketSpacing": false,
  "arrowParens": "always",
  "bracketSameLine": false,
  "jsxSingleQuote": true,
  "singleAttributePerLine": true,
  "printWidth": 80,
  "proseWrap": "always"
}
